Pods
Pods/*
ChatPedia.xcodeproj/xcuserdata/christine.xcuserdatad/
ChatPedia.xcworkspace/xcuserdata/christine.xcuserdatad/
ChatPedia/ChatPedia.xcworkspace/
ChatPedia.xcworkspace/
ChatPedia/ChatPedia.xcodeproj/project.pbxproj
ChatPedia/ChatPedia.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ChatPedia/ChatPedia.xcodeproj/project.xcworkspace/xcuserdata/IAMIN.xcuserdatad/UserInterfaceState.xcuserstate
ChatPedia/ChatPedia.xcodeproj/xcuserdata/IAMIN.xcuserdatad/xcschemes/ChatPedia.xcscheme
ChatPedia/ChatPedia.xcodeproj/xcuserdata/IAMIN.xcuserdatad/xcschemes/xcschememanagement.plist
ChatPedia.xcodeproj/xcuserdata/douglashewitt.xcuserdatad/
ChatPedia.xcworkspace/xcuserdata/ivantron.xcuserdatad/UserInterfaceState.xcuserstate
